{% extends "base.html" %}

{% block title %}
BitBed -- Welcome
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>File Uploader</h1>
            <p>{{ testo }}</p>
        </header>
    </article>

    <article>
        <section>
            <h2>article section h2</h2>
            <p>La Pizza e' buona.</p>
        </section>
        <section>
            <h2>article section h2</h2>
            <p>Gli spaghetti pure.</p>
        </section>
        <footer>
        <section>
        <h2>Recent uploads</h2>
        {% if recent_uploads %}
            <ul>
                {% for f in recent_uploads %}
                    <li>
                        <a href="{{ url_for('customer', customer_name=f.customer.c_name) }}">{{ f.customer.c_name }}</a> added `{{ f.f_name }}` with description `{{ f.f_description }}`
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            No files uploaded yet.
        {% endif %}
    </section>
        </footer>
    </article>

{% endblock %}