{% extends "base.html" %}

{% block title %}
BitBed -- Upload
{% endblock %}

{% block content %}

<section>
    <h3>Select file you want to upload:</h3>
    <table>
        <tr>
            <td>Logged in as: </td>
            <td><a href="{{ url_for('customer', customer_name=cu.c_name) }}">{{ cu.c_name }}</a></td>
        </tr>

    </table>
    <p></p>
    <form action="" method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>filename</td>
                <td>{{ form.file_name(size=50) }}</td>
            </tr>
            <tr>
                <td>description</td>
                <td>{{ form.file_description(size=50) }}</td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Submit</button></td>
            </tr>
        </table>
    </form>
</section>

{% endblock %}